@use 'typography' as *;
@use 'utils' as *;

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
  color: #ffffff;
}

h1 {
  @include h1('h1');
}

h2 {
  @include h2('h2');
}

h3 {
  @include h3('h3');
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.7);
  background-clip: padding-box;
}

::-ms-reveal {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, 0.5) transparent;
}

body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}